.error{
  height: 50px;
  max-width: 500px;
  display: grid;
  justify-content: center;
  align-items: center;
  background-color: rgb(185, 126, 126);
  border-radius: 10px;
  margin: 20px 0;
}

.error__text{
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  color: #121212;
  margin: 0;
  padding: 0 90px;
}

@media (max-width: 500px){
  .error__text{
    padding: 0 20px;
  }
}