.app {
  font-family: 'Spartan' , "Arial", sans-serif;
  position: static;
  width:100%;
}

.app__fixed{
  position:fixed;
  width:100%;
  overflow-y: scroll;
}

.app__muted::after{
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #2A2C2F;
  opacity: 0.3;
  z-index: 1;
  transition: opacity 0.3s linear;
}

.app__preloader_none{
  display: none;
}

.app__preloader{
  display: grid;
  grid-template-columns: repeat(3, max-content);
  column-gap: 15px;
  justify-content: center;
  height: calc(100vh - 450px);
}

.app__loading_none{
  display: block;
}

.app__loading{
  display: none;
}

.app__error{
  display: grid;
}

.app__error_none{
  display: none;
  justify-content: center;
  grid-template-columns: max-content;
}

@media (max-height: 500px){
  .app__preloader{
    display: none;
  }
}