.main{
  display: grid;
  max-width: 1280px;
  margin: 0 auto;
  background-color: #fefefe;
}

.main__block{
  background-color: #fefefe;
}

.main__line{
  width: 100%;
  height: 2px;
  margin: 0;
  border: none;
  background-color:#F8F8F8;;
}