.form-post__formik{
  height: 500px;
  width: 500px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  grid-template-columns: 1fr;
  border: 2px solid rgb(48, 48, 48);
  border-radius: 30px;
  row-gap: 23px;
}

.form-post__title{
  text-align: center;
  margin: 0;
  padding-top: 20px;
}

/*Рэйтинг*/
.form-post__rating{
  position: relative;
  font-size: 40px;
  display: inline-block;
  margin: 0 auto;
}

.form-post__rating::before{
  content: "★★★★★";
  display: block;
}

.form-post__rating-items{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row-reverse;
  overflow: hidden;
}

.form-post__rating-item{
  position: absolute;
  width: 0%;
  height: 0%;
  opacity: 0;
  visibility: hidden;
  top: 0;
  left: 0;
}

.form-post__rating-label{
  flex: 0 0 20%;
  height: 100%;
  cursor: pointer;
  color:#e2e2e2;
}

.form-post__rating-label::before{
  content: "★";
  display: block;
  transition: color 0.3s ease 0s;
}

.form-post__rating-item:checked,
.form-post__rating-item:checked ~ .form-post__rating-label{
  color:#ffe604;
}

.form-post__rating-label:hover,
.form-post__rating-label:hover ~ .form-post__rating-label,
.form-post__rating-label:checked ~ .form-post__rating-label:hover{
  color:#eeff00;
}


.form-post__rating-value{
  display: none;
}

.form-post__fieldset{
  position: relative;
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr;
}

.form-post__input{
  padding: 0;
  width: 80%;
  justify-items: center;
  margin: 0 auto;
  border: 1px solid rgb(48, 48, 48);
  border-radius: 5px;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0.06em;
  padding-left: 5px;
}

.form-post__review{
  height: 200px;
  display: grid;
  
}

.form-post__error{
  margin: 0;
  position: absolute;
  bottom: -21px;
  left: 50px;
  color: #D61313;
}

.form-post__button_deactivated{
  margin: 0 auto;
  width: 80%;
  height: 64px;
  border: none;
  background: #404040;
  color: #e7e7e7;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.form-post__button{
  margin: 0 auto;
  width: 80%;
  height: 64px;
  background: #121212;
  color: #e7e7e7;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  cursor: pointer;
}

.form-post__responce{
  color: #D61313;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.06em;
  display: grid;
  justify-content: center;
}