.footer{
  display: grid;
  justify-content: center;
}

.footer__form{
  background-color: #121212;
  margin: 0 auto;
}

.footer__fieldset{
  display: grid;
  border: none;
  padding: 0 85px;
  max-width: 1110px;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
  align-content: center;
  height: 56px;
}

.footer__fieldset-text{
  display: grid;
  align-content: center;
}

.footer__in-touch-text{
  margin: 0;
  color: #FFFFFF;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.footer__field{
  display: grid;
  grid-template-columns: 400px 108px;
  column-gap: 12px;
  align-content: center;
}

.footer__input{
  color: #8d8d8d;
  background-color: #414141;
  border: 1px solid #000000;
  font-weight: 500;
  font-size: 13px;
  line-height: 18px;
  padding: 0 0 0 16px;
  height: 32px;
}

.footer__button{
  color: #e7e7e7;
  background-color: inherit;
  border: 1px solid #FFFFFF;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  padding: 0;
  height: 32px;
}


.footer__nav{
  display: grid;
  justify-content: space-between;
  grid-template-columns: repeat(4, 1fr);
  max-width: 1110px;
  margin: 0 85px;
  padding-top: 40px;
}

.footer__nav-block{
  display: grid;
  grid-template-rows: min-content 1fr;
}

.footer__nav-title{
  margin: 0;
  font-weight: 600;
  font-size: 12px;
  line-height: 13px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #121212;
}

.footer__nav-list{
  margin: 0;
  padding: 0;
  list-style: none;
  padding-top: 19px;
  display: grid;
  grid-template-rows: repeat(4, 18px);
  align-items: end;
  row-gap: 18px;
}

.footer__nav-bar-link,.footer__contact-info-text{
  font-weight: normal;
  font-size: 12px;
  line-height: 13px;
  color: #414141;
  text-decoration: none;
  margin: 0;
}

.footer__nav-link_active{
  font-weight: 500;
}

.footer__nav-item-contact{
  display: grid;
  grid-template-columns: 18px 1fr;
  column-gap: 8px;
}

.footer__contact-info-icon{
  height: 14px;
  width: 14px;
}


.footer__info{
  max-width: 1110px;
  margin-top: 48px;
  padding: 0 85px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
  align-items: center;
  background-color: #f8f8f8;
  min-height: 40px;
}

.footer__copyright{
  margin: 0;
  font-weight: 500;
  font-size: 11px;
  line-height: 22px;
  color: #404040;
}

.footer__payment{
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  column-gap: 12px;
  filter: grayscale(100%); 
}

.footer__info-link{
  text-align: end;
  font-weight: 500;
  font-size: 11px;
  line-height: 22px;
  text-decoration-line: underline;
  color: #404040;
}



.footer__info{
  max-width: 1110px;
  margin-top: 48px;
  padding: 0 85px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
  align-items: center;
  background-color: #f8f8f8;
  min-height: 40px;
}

@media (max-width: 1200px){
  .footer__payment{
    grid-template-columns: repeat(4, 1fr);
    gap: 12px;
  }
}

@media (max-width: 1100px){
  .footer__field{
    grid-template-columns: 300px 108px;
  }
}

@media (max-width: 1000px){
  .footer__fieldset{
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    height: 130px;
    row-gap: 15px;
  }

  .footer__in-touch-text{
    text-align: center;
  }

  .footer__social-links{
    display: grid;
    justify-content: center;
  }

  .footer__nav{
    gap: 35px;
    grid-template-columns: repeat(2, 1fr);
  }

  .footer__nav-block{
    justify-content: space-between;
  }

  .footer__info{
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    row-gap: 10px;
  }

  .footer__copyright{
    text-align: center;
  }

  .footer__payment{
    grid-template-columns: repeat(7, 1fr);
  }

  .footer__info-link{
    text-align: center;
  }
}

@media (max-width: 700px){
  .footer__fieldset{
    padding: 0 30px;
  }

  .footer__payment{
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 500px){
  .footer__fieldset{
    padding: 0 15px;
    height: 180px;
  }

  .footer__field{
    grid-template-columns: 300px;
    row-gap: 15px;
  }

  .footer__nav{
    gap: 35px;
    grid-template-columns: repeat(1, 1fr);
  }

  .footer__nav-block{
    justify-content: center;
  }

  .footer__nav-title{
    text-align: center;
  }

  .footer__nav-list{
    justify-content: center;
  }

  .footer__nav-item-contact{
    text-align: center;
  }

  .footer__payment{
    text-align: center;
    grid-template-columns: repeat(1, max-content);
    justify-content: center;
  }

}